footer.footer
  div(class='footer__logo')
    img(src='/img/logo-green.png' alt="Natours logo" )
  ul(class='footer__nav')
    li: a(href="#" class='footer__el') About us
    li: a(href="#" class='footer__el') Download apps
    li: a(href="#" class='footer__el') Become a guide
    li: a(href="#" class='footer__el') Careers
    li: a(href="#" class='footer__el') About
  p(class='footer__copyright') &copy; by Ahmed Hassob